* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Andika', sans-serif;
    /* Verhindert das Scrollen der gesamten Seite */
}


header {
    background-color: white;
    padding: 25px;
    height: 100px;
    top:0;
    position: sticky;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 14px;
}

.text {
    font-size: 20px;
}

.index-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.logo {
    min-width: 200%;
    height: auto;
}

nav ul {
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.container {
    display: flex;
    height: calc(100vh - 100px);
    /* Anpassung an die Header-Höhe */
    overflow: hidden;
    /* Verhindert Scrollen des gesamten Containers */
}

.side-nav {
    flex: 0 0 30%;
    /* Fixiert die Breite der Side-Navigation auf 30% */
    background-color: #FFECCE;
    padding: 10px;
    clip-path: polygon(99.798% 0%, 0% 0%, 0% 100%, 99.891% 100%, 99.891% 100%, 99.969% 98.809%, 99.58% 97.545%, 98.833% 96.183%, 97.835% 94.7%, 96.694% 93.071%, 95.519% 91.271%, 94.418% 89.277%, 93.497% 87.064%, 92.865% 84.607%, 92.631% 81.883%, 92.631% 81.883%, 92.829% 79.105%, 93.366% 76.695%, 94.159% 74.514%, 95.124% 72.422%, 96.176% 70.278%, 97.231% 67.943%, 98.205% 65.276%, 99.015% 62.138%, 99.576% 58.39%, 99.804% 53.889%, 99.804% 53.889%, 99.603% 50.369%, 99.017% 47.45%, 98.147% 44.987%, 97.095% 42.834%, 95.961% 40.846%, 94.848% 38.878%, 93.857% 36.785%, 93.09% 34.421%, 92.647% 31.642%, 92.631% 28.301%, 92.631% 28.301%, 92.98% 25.73%, 93.611% 23.702%, 94.449% 21.991%, 95.418% 20.373%, 96.444% 18.622%, 97.452% 16.513%, 98.366% 13.822%, 99.112% 10.323%, 99.614% 5.79%, 99.798% 0%);
    overflow: hidden;
    /* Kein Scrollen in der Side-Navigation */
}

.side-nav-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 40px;
    padding-right: 80px;
    align-items: flex-start;

}

.side-nav-content>* {
    margin-bottom: 40px;
}

.w-500 {
    width: 500px;
}



.side-nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.side-nav-list li {
    margin-bottom: 10px;
}

.content {
    flex: 1;
    /* Content-Bereich nimmt den restlichen Platz ein */
    overflow-y: auto;
    /* Ermöglicht vertikales Scrollen im Content-Bereich */
    padding: 20px;
}

.box {
    padding: 32px;
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    /*border: 1px solid #ccc;*/
    /* Verhindert Überlauf innerhalb der Boxen */
}

.box:nth-child(1) {
    /* Stil für jede Box ab der zweiten Box */
    background-color: #FCEDD1;
    /* Beispiel */
}

.box:nth-child(2) {
    /* Stil für jede Box ab der zweiten Box */
    background-color: #E2EDF5;
    /* Beispiel */
}

.box:nth-child(3) {
    /* Stil für jede Box ab der zweiten Box */
    background-color: #FAE2E8;
    /* Beispiel */
}

.box:nth-child(4) {
    /* Stil für jede Box ab der zweiten Box */
    background-color: #E9F5EA;
    /* Beispiel */
}

.left, .right {
    text-align: center;
}

.left {
    width:60%;
}

.right {
    width: 40%;
    text-align: left;
}





.progress {
    background-color: rgba(255, 255, 255, 0.5); /* 50% transparent */
    padding: 12px;
    border-radius: 8px;
    margin: 24px 0;
    height:70px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.progress label,
.progress progress {
    width: 100%;
    display: block;
    text-align: left;

}

h2 {
    font-size: 20px;
    font-weight: 700;
    font-style: bold;
    margin: 10px 0;
}

.btn1 {
    font-weight: 500;
    font-size: 18px;
    height: 48px;
    padding-left: 40px;
    padding-right: 40px;
    background: linear-gradient(to right, #F9B93C, #F49404);
    color: white;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 16px;
}

.btn1 :hover {
    background: linear-gradient(to right, #F49404, #F9B93C);
}

.btn2 {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border-radius: 16px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    height: 48px;
    padding-left: 40px;
    width: 600px;
    text-align: left;
}


.h5p-content {
    margin: 0px 200px;
}


.content img {
    display: block;
    max-width: calc(100% - 400px);
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.content-inhalt {
    text-align: left;
    margin-left: 200px;
    margin-right: 200px;
}

.content-inhalt>* {
    margin-bottom: 40px;
}

.content-inhalt button {
    margin-top: 40px;
}

.text a {
    margin-left: 40px;
    color: black;
    text-decoration: none;
}

.cookie-banner {
    width: 75%;
    margin: 0 auto;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 24px;
}

.cookie-banner div {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.cookie-banner button {
    font-family: 'Andika', sans-serif;
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 24px;
}

.sliders {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.slider label {
    font-size: 18px;
    margin-right: 10px;
}

.slider input[type="checkbox"] {
    width: 60px;
    height: 30px;
    appearance: none;
    background-color: #ccc;
    border-radius: 20px;
    position: relative;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.slider input[type="checkbox"]:checked {
    background-color: #4caf50;
}

.slider input[type="checkbox"]::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: white;
    top: 1px;
    left: 1px;
    transition: transform 0.3s;
}

.slider input[type="checkbox"]:checked::before {
    transform: translateX(30px);
}

.slider input[type="checkbox"]:disabled:checked {
    background-color: #ccc;
}


