* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    /*Hier muss man noch den BG anpassen, mache ich aber zum Schluss, 
    da ich so sehe, wie ich den Browser skalieren muss, um alles andere passend zu sehen*/
    background-image: url("../img/bg_login.png");
    background-size: cover;
    /* Bild passt sich an den gesamten Container an */
    background-repeat: no-repeat;
    /* Verhindert Wiederholungen des Bildes */
    background-position: center;
    /* Zentriert das Bild */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Poppins", serif;
}

.login-container {
    border-radius: 12px;
    padding: 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.749);
}

.italic {
    font-style: italic;
    color: lightgrey;
}

h1 {
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 20px;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 8px;

}

button {
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
    height: 48px;
    padding: 0 40px;
    background: linear-gradient(to right, #0AA363, #018070);
    color: white;
    border: 2px solid white;
    border-radius: 16px;
    cursor: pointer;

}

button:hover {
    border: 2px solid #018070;

}

a {
    cursor: pointer;
}

a:hover {
    color: #018070;
}

.logo_login {
    width: 80px;
    height: auto;
    position: absolute;
    /* Positionierung relativ zum nächstgelegenen positionierten Element */
    top: 30px;
    /* Abstand von oben */
    left: 20px;
    /* Abstand von links */
    z-index: 1000;
    /* Stellt sicher, dass das Logo über anderen Elementen liegt */
}

.logo_login img {
    max-width: 100px;
    /* Begrenzung der Breite des Logos */
    height: auto;
    /* Automatische Anpassung der Höhe, um das Seitenverhältnis zu bewahren */
}