* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Andika', sans-serif;
    max-height: 100vh;
    overflow: hidden;
    /* Verhindert das Scrollen der gesamten Seite */
}

header {
    background-color: white;
    padding: 25px;
    height: 100px;
}

.index-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: calc(100vh - 100px);
    /* Verhindert das Überfließen des Main-Bereichs */
}

.logo {
    min-width: 200%;
    height: auto;
}

nav ul {
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.container {
    display: flex;
    height: calc(100vh - 60px);
    /* Verhindert das Überfließen des Main-Bereichs */
}

.side-nav {
    width: 30%;
    background-color: #FFECCE;
    padding: 10px;
    clip-path: polygon(99.798% 0%, 0% 0%, 0% 100%, 99.891% 100%, 99.891% 100%, 99.969% 98.809%, 99.58% 97.545%, 98.833% 96.183%, 97.835% 94.7%, 96.694% 93.071%, 95.519% 91.271%, 94.418% 89.277%, 93.497% 87.064%, 92.865% 84.607%, 92.631% 81.883%, 92.631% 81.883%, 92.829% 79.105%, 93.366% 76.695%, 94.159% 74.514%, 95.124% 72.422%, 96.176% 70.278%, 97.231% 67.943%, 98.205% 65.276%, 99.015% 62.138%, 99.576% 58.39%, 99.804% 53.889%, 99.804% 53.889%, 99.603% 50.369%, 99.017% 47.45%, 98.147% 44.987%, 97.095% 42.834%, 95.961% 40.846%, 94.848% 38.878%, 93.857% 36.785%, 93.09% 34.421%, 92.647% 31.642%, 92.631% 28.301%, 92.631% 28.301%, 92.98% 25.73%, 93.611% 23.702%, 94.449% 21.991%, 95.418% 20.373%, 96.444% 18.622%, 97.452% 16.513%, 98.366% 13.822%, 99.112% 10.323%, 99.614% 5.79%, 99.798% 0%);

}

.side-nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.side-nav-list li {
    margin-bottom: 10px;
}

.content {
    width: 80%;
    padding: 20px;
}

.box {
    padding: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    /*border: 1px solid #ccc;*/
    overflow: hidden;
    /* Verhindert Überlauf innerhalb der Boxen */
}

.box:nth-child(1) {
    /* Stil für jede Box ab der zweiten Box */
    background-color: #FCEDD1;
    /* Beispiel */
}

.box:nth-child(2) {
    /* Stil für jede Box ab der zweiten Box */
    background-color: #E2EDF5;
    /* Beispiel */
}

.box:nth-child(3) {
    /* Stil für jede Box ab der zweiten Box */
    background-color: #FAE2E8;
    /* Beispiel */
}

.box:nth-child(4) {
    /* Stil für jede Box ab der zweiten Box */
    background-color: #E9F5EA;
    /* Beispiel */
}

.left,
.right {
    width: 45%;
    text-align: center;
}

.left img {
    width: 80%;
    height: auto;
}

.right img {
    width: auto;
    height: 60%;
}

h2 {
    font-size: 20px;
    font-weight: 700;
    font-style: bold;
    margin: 10px 0;
}

p {
    font-size: 12px;
}

button {
    font-weight: 500;
    font-size: 18px;
    height: 48px;
    padding-left: 40px;
    padding-right: 40px;
    background: linear-gradient(to right, #F9B93C, #F49404);
    color: white;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 16px;
}

button:hover {
    background: linear-gradient(to right, #F49404, #F9B93C);
}